@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

$breakpoint: (
  mobile: 414px,
  tablet: 768px,
  landscape: 1024px,
  desktop: 1280px,
);

@function screen($key, $amount:0) {
  @if map-has-key($breakpoint, $key) {
    @return map-get($breakpoint, $key) + $amount;
  }

  @warn "Unknown `#{$key}` in $breakpoint.";
  @return null;
}

$z-map: (
  hide:       -9999,
  normal:      1,
  interactive: 999,
  alert:       9999,
  loading:     99999,
);

@function z($key, $adjustment:0) {
  @if map-has-key($z-map, $key) {
    @return map-get($z-map, $key) + $adjustment;
  }

  @warn "Unknown `#{$key}` in $z-map.";
  @return null;
}
